.elementor-209 .elementor-element.elementor-element-179d085 {
  margin-top: 100px;
  margin-bottom: 0px;
}
.elementor-bc-flex-widget
  .elementor-209
  .elementor-element.elementor-element-97413b5.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-209
  .elementor-element.elementor-element-97413b5.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-209 .elementor-element.elementor-element-dc19296 .bdevs-btn:hover {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}
.elementor-209 .elementor-element.elementor-element-dc19296 {
  text-align: right;
}
.elementor-209 .elementor-element.elementor-element-16cf36c {
  margin-top: 30px;
  margin-bottom: 0px;
}
.elementor-209 .elementor-element.elementor-element-3147a9f {
  text-align: left;
}
.elementor-209 .elementor-element.elementor-element-3d161c7 {
  margin-top: 55px;
  margin-bottom: 0px;
}
.elementor-209 .elementor-element.elementor-element-5c9da5e .bdevs-btn:hover {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}
.elementor-209 .elementor-element.elementor-element-0c29163 .bdevs-btn:hover {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}
.elementor-209
  .elementor-element.elementor-element-d7b8427:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-209
  .elementor-element.elementor-element-d7b8427
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f3f4f8;
}
.elementor-209 .elementor-element.elementor-element-d7b8427 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 75px;
  margin-bottom: 0px;
  padding: 115px 0px 90px 0px;
}
.elementor-209
  .elementor-element.elementor-element-d7b8427
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-209
  .elementor-element.elementor-element-a62b893
  .bdevselement-post-tab-title {
  margin-bottom: 10px;
}
.elementor-209 .elementor-element.elementor-element-a62b893 .bdevs-btn:hover {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}
.elementor-209 .elementor-element.elementor-element-ef0af06 {
  margin-top: 70px;
  margin-bottom: 50px;
}
.elementor-209 .elementor-element.elementor-element-c3d1868 {
  text-align: center;
}
.elementor-209 .elementor-element.elementor-element-e0c235e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-209
  .elementor-element.elementor-element-e0c235e
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-209 .elementor-element.elementor-element-c453940 {
  margin-top: 115px;
  margin-bottom: 35px;
}
.elementor-209 .elementor-element.elementor-element-ec69870 {
  text-align: center;
}
.elementor-209 .elementor-element.elementor-element-26f35a0 .zt-item {
  opacity: 0.5;
}
.elementor-209
  .elementor-element.elementor-element-26f35a0
  .zt-item:hover::after {
  opacity: 0.5;
}
.elementor-209
  .elementor-element.elementor-element-26f35a0
  .bdevselement-post-tab
  .bdevselement-post-tab-filter {
  text-align: left;
}
.elementor-209 .elementor-element.elementor-element-a4c194d {
  margin-top: 0px;
  margin-bottom: -75px;
}
